/LibrosFirebase*.iml
/LibrosFirebase.gradle
/LibrosFirebase/local.properties
/LibrosFirebase/.idea/caches
/LibrosFirebase/.idea/libraries
/LibrosFirebase/.idea/modules.xml
/LibrosFirebase/.idea/workspace.xml
/LibrosFirebase/.idea/navEditor.xml
/LibrosFirebase/.idea/assetWizardSettings.xml
/LibrosFirebase.DS_Store
/LibrosFirebase/build
/LibrosFirebase/captures
/LibrosFirebase.externalNativeBuild
/LibrosFirebase.cxx
.gitignore